@forward "../../../global/uswds-config";
@import "../../../global/global-colors";
@import "../../../global/global";
@import "../../../node_modules/@uswds/uswds/packages/usa-link/index";

.usa-link {
  &[disabled] {
    color: color('disabled');
    cursor: not-allowed;
    pointer-events: none;
  }

  .usa-icon {
    margin-left: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
  }

  &--primary {
    color: color('primary');

    &:hover {
      color: color('primary-dark');
    }
  }

  &--secondary {
    color: color('secondary');

    &:hover {
      color: color('secondary-dark');
    }
  }
}