// Base 
$base-lightest: #f0f0f0; 
$base-lighter: #dfe1e2; 
$base-light: #a9aeb1; 
$base: #71767a; 
$base-dark: #565c65; 
$base-darker: #3d4551; 
$ink: #1b1b1b; 

// Primary 
$primary-lighter: #d9e8f6; 
$primary-light: #73b3e7; 
$primary: #005ea2; 
$primary-vivid: #0050d8; 
$primary-dark: #1a4480; 
$primary-darker: #162e51; 

// Secondary 
$secondary-lighter: #f8dfe2; 
$secondary-light: #f2938c; 
$secondary: #d83933; 
$secondary-vivid: #e41d3d; 
$secondary-dark: #B50909; 
$secondary-darkest: #9c3d10; 

// Accent cool 
$accent-cool-lighter: #e1f3f8; 
$accent-cool-light: #97d4ea; 
$accent-cool: #00BDE3; 
$accent-cool-darker: #07648d; 
$accent-cool-dark: #28a0cb; 

// Accent warm 
$accent-warm-lighter: #f2e4d4; 
$accent-warm-light: #ffbc78; 
$accent-warm: #fa9441; 
$accent-warm-dark: #c05600; 
$accent-warm-darker: #775540; 

// Info 
$info-lighter: #e7f6f8; 
$info-light: #99deea; 
$info: #00BDE3; 
$info-dark: #009ec1; 
$info-darker: #2e6276; 

// Error 
$error-lighter: #f4e3db; 
$error-light: #f39268; 
$error: #d54309; 
$error-dark: #B50909; 
$error-darker: #6f3331; 

// Warning 
$warning-lighter: #faf3d1; 
$warning-light: #fee685; 
$warning: #ffbe2e; 
$warning-dark: #e5a000; 
$warning-darker: #936f38; 

// Success 
$success-lighter: #ecf3ec; 
$success-light: #70e17b; 
$success: #00a91c; 
$success-darker: #446443; 
$success-dark: #4d8055; 

// Disabled 
$disabled-light: #E6E6E6; 
$disabled: #c9c9c9; 
$disabled-dark: #ADADAD; 

// Grayscale 
$grayscale-05: #f9f9f9; 
$grayscale-10: #E6E6E6; 
$grayscale-30: #ADADAD; 
$grayscale-50: #757575; 
$grayscale-60: #6b6b6b; 
$grayscale-70: #454545; 
$grayscale-90: #171717; 

// utility 
$focus: #2491ff; 

//Cross-check Theme-colors
 $cc-orange-10: #FFF3F2;
 $cc-orange-20: #FFE0DD;
 $cc-orange-30: #FFBBB5;
 $cc-orange-40: #FF8D81;
 $cc-orange-50: #FF4616;
 $cc-orange-60: #DD3D13;
 $cc-orange-70: #B43110;
 $cc-orange-80: #80230B;
 $cc-blue-dark-10: #F2F3F4;
 $cc-blue-dark-20: #DDDFE1;
 $cc-blue-dark-30: #B5B9BF;
 $cc-Blue-dark-40: #808995;
 $cc-blue-dark-50: #113958;
 $cc-blue-dark-60: #0F314C;
 $cc-blue-dark-70: #0C283E;
 $cc-blue-dark-80: #091D2C;
 $cc-blue-light-10: #ECF1F7;
 $cc-blue-light-20: #E1E7F1;
 $cc-blue-light-30: #BBCAE4;
 $cc-blue-light-40: #98AFD2;
 $cc-blue-light-50: #7292C7;
 $cc-blue-light-60: #4A77B4;
 $cc-blue-light-70: #345D96;
 $cc-blue-light-80: #2F4668;
 $cc-green-20: #ECF3EC;
 $cc-green-40: #7FB135;

// USWDS
 $gray-20: #C9C9C9;
 $gray-60: #5C5C5C;
 $gray-1: #FCFCFC;
 $gray-cool-10: #FBFCFD;
 $gray-cool-20: #F7F9FA;
 $gray-cool-30: #F5F6F7;
 $gray-cool-40: #F1F3F6;
 $gray-cool-50: #EDEFF0;
 $gray-cool-60: #DFE1E2;
 $gray-cool-70: #C6CACE;
 $gray-cool-80: #A9AEB1;
 $gray-cool-90: #8D9297;
 $gray-cool-100: #71767A;
 $gray-cool-110: #565C65;
 $gray-cool-120: #3D4551;
 $gray-cool-130: #2D2E2F;
 $gray-cool-140: #1C1D1F;
 $gray-warm-10: #FCFCFB;
 $gray-warm-20: #F9F9F7;
 $gray-warm-30: #F6F6F2;
 $gray-warm-40: #F5F5F0;
 $gray-warm-50: #F0F0EC;
 $gray-warm-60: #E6E6E2;
 $gray-warm-70: #CAC9C0;
 $gray-warm-80: #AFAEA2;
 $gray-warm-90: #929285;
 $gray-warm-100: #76766A;
 $gray-warm-110: #5D5D52;
 $gray-warm-120: #454540;
 $gray-warm-130: #2E2E2A;
 $gray-warm-140: #171716;
 $gray-2: #F9F9F9;
 $gray-3: #F6F6F6;
 $gray-4: #F3F3F3;
 $gray-5: #F0F0F0;
 $gray-6: #E6E6E6;
 $gray-7: #C9C9C9;
 $gray-8: #ADADAD;
 $gray-9: #919191;
 $gray-10: #757575;
 $gray-11: #5C5C5C;
 $gray-12: #454545;
 $gray-13: #2E2E2E;
 $gray-14: #1B1B1B;
 $blue-30: #AACDEC;
 $blue-vivid-60: #0076D6;
 $green-cool-vivid-20: #B7F5BD;
 $green-cool-vivid-40: #21C834;
 $orange-vivid-20: #FCE2C5;
 $orange-vivid-40: #FA9441;
 $red-vivid-20: #FDE0DB;
 $red-cool-vivid-40: #FD8BA0;
 $red-cool-10: #F8EFF1;
 $red-cool-20: #F3E1E4;
 $red-cool-30: #ECBEC6;
 $red-cool-40: #E09AA6;
 $red-cool-50: #E16B80;
 $red-cool-60: #CD425B;
 $red-cool-70: #9E394B;
 $red-cool-80: #68363F;
 $red-cool-90: #40282C;
 $red-cool-100: #1E1517;
 $red-cool-vivid-10: #FFF2F5;
 $red-cool-vivid-20: #F8DFE2;
 $red-cool-vivid-30: #F8B9C5;
 $red-cool-vivid-50: #F45D79;
 $red-cool-vivid-60: #E41D3D;
 $red-cool-vivid-70: #B21D38;
 $red-cool-vivid-80: #822133;
 $red-cool-vivid-90: #4F1C24;
 $red-10: #F9EEEE;
 $red-20: #F8E1DE;
 $red-30: #F7BBB1;
 $red-40: #F2938C;
 $red-50: #E9695F;
 $red-60: #D83933;
 $red-70: #A23737;
 $red-80: #6F3331;
 $red-90: #3E2927;
 $red-100: #1B1616;
 $red-vivid-10: #FFF3F2;
 $red-vivid-30: #FDB8AE;
 $red-vivid-40: #FF8D7B;
 $red-vivid-50: #FB5A47;
 $red-vivid-60: #E52207;
 $red-vivid-70: #B50909;
 $red-vivid-80: #8B0A03;
 $red-vivid-90: #5C1111;
 $red-warm-10: #F6EFEA;
 $red-warm-20: #F4E3DB;
 $red-warm-30: #ECC0A7;
 $red-warm-40: #DCA081;
 $red-warm-50: #D27A56;
 $red-warm-60: #C3512C;
 $red-warm-70: #805039;
 $red-warm-80: #524236;
 $red-warm-90: #332D29;
 $red-warm-100: #1F1C18;
 $red-warm-vivid-10: #FFF5EE;
 $red-warm-vivid-20: #FCE1D4;
 $red-warm-vivid-30: #F6BD9C;
 $red-warm-vivid-40: #F39268;
 $red-warm-vivid-50: #EF5E25;
 $red-warm-vivid-60: #D54309;
 $red-warm-vivid-70: #9C3D10;
 $red-warm-vivid-80: #63340F;
 $red-warm-vivid-90: #3E2A1E;
 $orange-warm-10: #FAEEE5;
 $orange-warm-20: #FBE0D0;
 $orange-warm-30: #F7BCA2;
 $orange-warm-40: #F3966D;
 $orange-warm-50: #E17141;
 $orange-warm-60: #BD5727;
 $orange-warm-70: #914734;
 $orange-warm-80: #633A32;
 $orange-warm-90: #3D2925;
 $orange-warm-100: #1C1615;
 $orange-warm-vivid-10: #FFF3EA;
 $orange-warm-vivid-20: #FFE2D1;
 $orange-warm-vivid-30: #FBBAA7;
 $orange-warm-vivid-40: #FC906D;
 $orange-warm-vivid-50: #CF4900;
 $orange-warm-vivid-60: #A72F10;
 $orange-warm-vivid-70: #A72F10;
 $orange-warm-vivid-80: #782312;
 $orange-warm-vivid-90: #3D231D;
 $orange-10: #F6EFE9;
 $orange-20: #F2E4D4;
 $orange-30: #F3BF90;
 $orange-40: #F09860;
 $orange-50: #DD7533;
 $orange-60: #A86437;
 $orange-70: #775540;
 $orange-80: #524236;
 $orange-90: #332D27;
 $orange-100: #1B1614;
 $orange-vivid-10: #FEF2E4;
 $orange-vivid-30: #FFBC78;
 $orange-vivid-50: #E66F0E;
 $orange-vivid-60: #C05600;
 $orange-vivid-70: #8C471C;
 $orange-vivid-80: #5F3617;
 $orange-vivid-90: #352313;
 $gold-10: #F5F0E6;
 $gold-20: #F1E5CD;
 $gold-30: #DEC69A;
 $gold-40: #C7A97B;
 $gold-50: #AD8B65;
 $gold-60: #8E704F;
 $gold-70: #6B5947;
 $gold-80: #4D4438;
 $gold-90: #322D26;
 $gold-100: #191714;
 $gold-vivid-10: #FEF0C8;
 $gold-vivid-20: #FFE396;
 $gold-vivid-30: #FFBE2E;
 $gold-vivid-40: #E5A000;
 $gold-vivid-50: #C2850C;
 $gold-vivid-60: #936F38;
 $gold-vivid-70: #7A591A;
 $gold-vivid-80: #5C410A;
 $gold-vivid-90: #3B2B15;
 $yellow-10: #FAF3D1;
 $yellow-20: #F5E6AF;
 $yellow-30: #E6C74C;
 $yellow-40: #C9AB48;
 $yellow-50: #A88F48;
 $yellow-60: #8A7237;
 $yellow-70: #6B5A39;
 $yellow-80: #504332;
 $yellow-90: #332D27;
 $yellow-100: #1A1614;
 $yellow-vivid-10: #FFF5C2;
 $yellow-vivid-20: #FEE685;
 $yellow-vivid-30: #FACE00;
 $yellow-vivid-40: #DDAA01;
 $yellow-vivid-50: #B38C00;
 $yellow-vivid-60: #947100;
 $yellow-vivid-70: #776017;
 $yellow-vivid-80: #5C4809;
 $yellow-vivid-90: #422D19;
 $green-warm-10: #F1F4D7;
 $green-warm-20: #E7EAB7;
 $green-warm-30: #CBD17A;
 $green-warm-40: #A6B557;
 $green-warm-50: #8A984B;
 $green-warm-60: #6F7A41;
 $green-warm-70: #5A5F38;
 $green-warm-80: #45472F;
 $green-warm-90: #2D2F21;
 $green-warm-100: #171712;
 $green-warm-vivid-10: #F5FBC1;
 $green-warm-vivid-20: #E7F434;
 $green-warm-vivid-30: #C5D30A;
 $green-warm-vivid-40: #A3B72C;
 $green-warm-vivid-50: #7E9C1D;
 $green-warm-vivid-60: #6A7D00;
 $green-warm-vivid-70: #5A6613;
 $green-warm-vivid-80: #4B4E10;
 $green-warm-vivid-90: #38380B;
 $green-10: #EAF4DD;
 $green-20: #DFEACD;
 $green-30: #B8D293;
 $green-40: #9BB672;
 $green-50: #7D9B4E;
 $green-60: #607F35;
 $green-70: #4C6424;
 $green-80: #3C4A29;
 $green-90: #293021;
 $green-100: #161814;
 $green-vivid-10: #DDF9C7;
 $green-vivid-20: #C5EE93;
 $green-vivid-30: #98D035;
 $green-vivid-40: #7FB135;
 $green-vivid-50: #7FB135;
 $green-vivid-60: #719F2A;
 $green-vivid-70: #538200;
 $green-vivid-80: #466C04;
 $green-vivid-90: #2F4A0B;
 $green-vivid-100: #243413;
 $green-cool-10: #ECF3EC;
 $green-cool-20: #DBEBDE;
 $green-cool-30: #B4D0B9;
 $green-cool-40: #86B98E;
 $green-cool-50: #5E9F69;
 $green-cool-60: #4D8055;
 $green-cool-70: #446443;
 $green-cool-80: #37493B;
 $green-cool-90: #28312A;
 $green-cool-100: #1A1F1A;
 $green-cool-vivid-10: #E3F5E1;
 $green-cool-vivid-30: #70E17B;
 $green-cool-vivid-50: #00A91C;
 $green-cool-vivid-60: #008817;
 $green-cool-vivid-70: #216E1F;
 $green-cool-vivid-80: #154C21;
 $green-cool-vivid-90: #19311E;
 $mint-10: #DBF6ED;
 $mint-20: #C7EFE2;
 $mint-30: #92D9BB;
 $mint-40: #5ABF95;
 $mint-50: #34A37E;
 $mint-60: #2E8367;
 $mint-70: #286846;
 $mint-80: #204E34;
 $mint-90: #193324;
 $mint-100: #0D1A12;
 $mint-vivid-10: #C9FBEB;
 $mint-vivid-20: #83FCD4;
 $mint-vivid-30: #0CEDA6;
 $mint-vivid-40: #04C585;
 $mint-vivid-50: #00A871;
 $mint-vivid-60: #008659;
 $mint-vivid-70: #146947;
 $mint-vivid-80: #0C4E29;
 $mint-vivid-90: #0D351E;
 $mint-cool-10: #E0F7F6;
 $mint-cool-20: #C4EEEB;
 $mint-cool-30: #9BD4CF;
 $mint-cool-40: #6FBAB3;
 $mint-cool-50: #4F9E99;
 $mint-cool-60: #40807E;
 $mint-cool-70: #376462;
 $mint-cool-80: #2A4B45;
 $mint-cool-90: #203131;
 $mint-cool-100: #111818;
 $mint-cool-vivid-10: #D5FBF3;
 $mint-cool-vivid-20: #7EFBE1;
 $mint-cool-vivid-30: #29E1CB;
 $mint-cool-vivid-40: #1DC2AE;
 $mint-cool-vivid-50: #00A398;
 $mint-cool-vivid-60: #008480;
 $mint-cool-vivid-70: #0F6460;
 $mint-cool-vivid-80: #0B4B3F;
 $mint-cool-vivid-90: #123131;
 $cyan-10: #E7F6F8;
 $cyan-20: #CCECF2;
 $cyan-30: #99DEEA;
 $cyan-40: #5DC0D1;
 $cyan-50: #449DAC;
 $cyan-60: #168092;
 $cyan-70: #2A646D;
 $cyan-80: #2C4A4E;
 $cyan-90: #203133;
 $cyan-100: #111819;
 $cyan-vivid-10: #E5FAFF;
 $cyan-vivid-20: #A8F2FF;
 $cyan-vivid-30: #52DAF2;
 $cyan-vivid-40: #00BDE3;
 $cyan-vivid-50: #009EC1;
 $cyan-vivid-60: #0081A1;
 $cyan-vivid-70: #00687D;
 $cyan-vivid-80: #0E4F5C;
 $cyan-vivid-90: #093B44;
 $blue-cool-10: #E7F2F5;
 $blue-cool-20: #DAE9EE;
 $blue-cool-30: #ADCFDC;
 $blue-cool-40: #82B4C9;
 $blue-cool-50: #6499AF;
 $blue-cool-60: #3A7D95;
 $blue-cool-70: #2E6276;
 $blue-cool-80: #224A58;
 $blue-cool-90: #14333D;
 $blue-cool-100: #0F191C;
 $blue-cool-vivid-10: #E1F3F8;
 $blue-cool-vivid-20: #C3EBFA;
 $blue-cool-vivid-30: #97D4EA;
 $blue-cool-vivid-40: #59B9DE;
 $blue-cool-vivid-50: #28A0CB;
 $blue-cool-vivid-60: #0D7EA2;
 $blue-cool-vivid-70: #07648D;
 $blue-cool-vivid-80: #074B69;
 $blue-cool-vivid-90: #002D3F;
 $blue-10: #EFF6FB;
 $blue-20: #D9E8F6;
 $blue-40: #73B3E7;
 $blue-50: #4F97D1;
 $blue-60: #2378C3;
 $blue-70: #2C608A;
 $blue-80: #274863;
 $blue-90: #1F303E;
 $blue-100: #11181D;
 $blue-vivid-10: #E8F5FF;
 $blue-vivid-20: #CFE8FF;
 $blue-vivid-30: #A1D3FF;
 $blue-vivid-40: #58B4FF;
 $blue-vivid-50: #2491FF;
 $blue-vivid-70: #005EA2;
 $blue-vivid-80: #0B4778;
 $blue-vivid-90: #112F4E;
 $blue-warm-10: #ECF1F7;
 $blue-warm-20: #E1E7F1;
 $blue-warm-30: #BBCAE4;
 $blue-warm-40: #98AFD2;
 $blue-warm-50: #7292C7;
 $blue-warm-60: #4A77B4;
 $blue-warm-70: #345D96;
 $blue-warm-80: #2F4668;
 $blue-warm-90: #252F3E;
 $blue-warm-100: #13171F;
 $blue-warm-vivid-10: #EDF5FF;
 $blue-warm-vivid-20: #D4E5FF;
 $blue-warm-vivid-30: #ADCDFF;
 $blue-warm-vivid-40: #81AEFC;
 $blue-warm-vivid-50: #5994F6;
 $blue-warm-vivid-60: #2672DE;
 $blue-warm-vivid-70: #0050D8;
 $blue-warm-vivid-80: #1A4480;
 $blue-warm-vivid-90: #162E51;
 $indigo-cool-10: #EEF0F9;
 $indigo-cool-20: #E1E6F9;
 $indigo-cool-30: #BBC8F5;
 $indigo-cool-40: #96ABEE;
 $indigo-cool-50: #6B8EE8;
 $indigo-cool-60: #496FD8;
 $indigo-cool-70: #3F57A6;
 $indigo-cool-80: #374274;
 $indigo-cool-90: #292D42;
 $indigo-cool-100: #151622;
 $indigo-cool-vivid-10: #EDF0FF;
 $indigo-cool-vivid-20: #DEE5FF;
 $indigo-cool-vivid-30: #B8C8FF;
 $indigo-cool-vivid-40: #94ADFF;
 $indigo-cool-vivid-50: #628EF4;
 $indigo-cool-vivid-60: #4866FF;
 $indigo-cool-vivid-70: #3E4DED;
 $indigo-cool-vivid-80: #222FBF;
 $indigo-cool-vivid-90: #1B2B85;
 $indigo-10: #EFEFF8;
 $indigo-20: #E5E4FA;
 $indigo-30: #C5C5F3;
 $indigo-40: #A5A8EB;
 $indigo-50: #8889DB;
 $indigo-60: #676CC8;
 $indigo-70: #4D52AF;
 $indigo-80: #3D4076;
 $indigo-90: #2B2C40;
 $indigo-100: #16171F;
 $indigo-vivid-10: #F0F0FF;
 $indigo-vivid-20: #E0E0FF;
 $indigo-vivid-30: #CCCEFF;
 $indigo-vivid-40: #A3A7FA;
 $indigo-vivid-50: #8289FF;
 $indigo-vivid-60: #656BD7;
 $indigo-vivid-70: #4A50C4;
 $indigo-vivid-80: #3333A3;
 $indigo-vivid-90: #212463;
 $indigo-warm-10: #F1EFF7;
 $indigo-warm-20: #E7E3FA;
 $indigo-warm-30: #CBC4F2;
 $indigo-warm-40: #AFA5E8;
 $indigo-warm-50: #9287D8;
 $indigo-warm-60: #7665D1;
 $indigo-warm-70: #5E519E;
 $indigo-warm-80: #453C7B;
 $indigo-warm-90: #2E2C40;
 $indigo-warm-100: #18161D;
 $indigo-warm-vivid-10: #F5F2FF;
 $indigo-warm-vivid-20: #E4DEFF;
 $indigo-warm-vivid-30: #CFC4FD;
 $indigo-warm-vivid-40: #B69FFF;
 $indigo-warm-vivid-50: #967EFB;
 $indigo-warm-vivid-60: #745FE9;
 $indigo-warm-vivid-70: #5942D2;
 $indigo-warm-vivid-80: #3D2C9D;
 $indigo-warm-vivid-90: #261F5B;
 $violet-20: #EBE3F9;
 $violet-40: #B8A2E3;
 $violet-10: #F4F1F9;
 $violet-30: #D0C3E9;
 $violet-50: #9D84D2;
 $violet-60: #8168B3;
 $violet-70: #665190;
 $violet-80: #4C3D69;
 $violet-90: #312B3F;
 $violet-100: #18161D;
 $violet-vivid-10: #F7F2FF;
 $violet-vivid-20: #EDE3FF;
 $violet-vivid-30: #D5BFFF;
 $violet-vivid-40: #C39DEB;
 $violet-vivid-50: #AD79E9;
 $violet-vivid-60: #9355DC;
 $violet-vivid-70: #783CB9;
 $violet-vivid-80: #54278F;
 $violet-vivid-90: #39215E;
 $violet-warm-10: #F8F0F9;
 $violet-warm-20: #F6DFF8;
 $violet-warm-30: #E2BEE4;
 $violet-warm-40: #D29AD8;
 $violet-warm-50: #BF77C8;
 $violet-warm-60: #B04ABD;
 $violet-warm-70: #864381;
 $violet-warm-80: #5C395A;
 $violet-warm-90: #382936;
 $violet-warm-100: #1B151B;
 $violet-warm-vivid-10: #FEF2FF;
 $violet-warm-vivid-20: #FBDCFF;
 $violet-warm-vivid-30: #F4B2FF;
 $violet-warm-vivid-40: #EE83FF;
 $violet-warm-vivid-50: #D85BEF;
 $violet-warm-vivid-60: #BE32D0;
 $violet-warm-vivid-70: #93348C;
 $violet-warm-vivid-80: #711E6C;
 $violet-warm-vivid-90: #481441;
 $magenta-10: #F9F0F2;
 $magenta-20: #F6E1E8;
 $magenta-30: #F0BBCC;
 $magenta-40: #E895B3;
 $magenta-50: #E0699F;
 $magenta-60: #C84281;
 $magenta-70: #8B4556;
 $magenta-80: #66364B;
 $magenta-90: #402731;
 $magenta-100: #1B1617;
 $magenta-vivid-10: #FFF2F5;
 $magenta-vivid-20: #FFDDEA;
 $magenta-vivid-30: #FFB4CF;
 $magenta-vivid-40: #FF87B2;
 $magenta-vivid-50: #FD4496;
 $magenta-vivid-60: #D72D79;
 $magenta-vivid-70: #AB2165;
 $magenta-vivid-80: #731F44;
 $magenta-vivid-90: #4F172E;